.app {
  color: #282c34;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

button {
  outline: none;
  font: inherit;
  border-radius: 10px;
  padding: 10px 12px;
  border: 1px solid #e5e7eb;
}

button:hover {
  cursor: pointer;
  background-color: #282c34;
  color: white;
}
